<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.5.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 

    <title>Mission to Mars</title>
    <style type="text/css">
        .jumbotron{
            margin-top: 20px;
            background-image: url('/static/img/mission_to_mars2.png');
            min-height: 600px;
            }
        .display-4{
            font-family: fantasy;
            color: red;
            position: absolute;
            top: 20px;
            left: 20px;
            }
        .lead{
            font-family: cursive;
            color: orangered;
            position: absolute;
            top: 76px;
            left: 20px;
            }
    
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
        <h1 class="display-4">Mission to Mars!</h1>
        <p class="lead"><strong>What you need to know about Mars.</strong></p>
        <hr class="my-4">
        <!-- In the below line, add "/scrape" for the python function. -->
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
                <h2>Latest Mars News</h2>
                <p> {{ marsFacts.news_title }} </p>
                <p>  {{ marsFacts.news_article }} </p>
                <p></p>
                <h2>Current Weather on Mars</h2>
                <p> {{marsFacts.mars_weather}} </p>
            </div>
            <div class="col-sm-5">
                <h3> Mars Facts</h3>
                <table class="table table-striped"> 
                {{ marsFacts.mars_facts | safe }} 
                </table>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4"></div>
    </div>
    </div>
    <div class="container-fluid">
      <h1 class="text-center">Featured Mars Image</h1>
     <div class="img"><img src="{{ marsFacts.featured_image_urll }}" class="img-fluid" alt="featured"></div>
    </div>  
    <div class="container-fluid">
        <div class="row">
    <div class="col-sm-6">
    <h4> {{ marsFacts.urls.0.title }} </h4>
    <div class="img"><img src= "{{ marsFacts.urls.0.img_url }}" class="img-fluid" alt="Valles Marineris"></div>
    </div>
    <div class="col-sm-6">
    <h4> {{ marsFacts.urls.1.title }} </h4>
    <div class="img"><img src= "{{ marsFacts.urls.1.img_url }}" class="img-fluid" alt="Cerberus"></div>
    </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
    <div class="col-sm-6">
    <h4> {{ marsFacts.urls.2.title }} </h4>
    <div class="img"><img src= "{{ marsFacts.urls.2.img_url }}" class="img-fluid" alt="Schiaparelli"></div>
    </div>
    <div class="col-sm-6">
    <h4> {{ marsFacts.urls.3.title }} </h4>
    <div class="img"><img src= "{{ marsFacts.urls.3.img_url }}" class="img-fluid" alt="Syrtis Major"></div>
    </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>